body{
    background-image: url(sahara.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 100px;
    padding-right: 80px;
    padding-top: 20px;
}
#logo{
    height: 60px;
    width: 50px;
}
#menu{
    height: 30px;
    width: 30px;
}
#menu:hover{
    border-radius: 50%;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{ 
    color: white;
    margin-right: 50px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
   
}
a:hover{
   color: rgb(21, 9, 239);
}
@media (min-width:360px) and (max-width:640px){
    .main{
        width: 500px;
    }
    .main2{
        width: 500px;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
    }
    .main3{
        width: 500px;
        height: 430px;
        display: flex;
        flex-wrap: wrap; 
    }
    .main3 div {
        height: 150px;
        width: 400px;
        border-radius: 15px;
        background-size: cover;
        margin-bottom: 20px;
    }
    .img1{
        position: absolute;
    }
    .img2{
        position: absolute;
        top: 175px;
        right: 430px;
    }
    .img3{
        position: absolute;
        top: 140px;
    }
    .img4{
        position: absolute;
        top: 320px;
        right: 430px;
    }

}
.menu2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main3{
    display: grid;
    grid-template-columns: auto auto;
}
.main2{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.h1{
    font-size: 100px;
    color: white;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    transition: 2s;
}
.h1:hover{
    box-shadow: 0 2px  20px rgb(15, 120, 206);
}

p{
    color: white;
   
}

.img1{
    height: 200px;
    width: 190px;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    position: relative;
    transition: 1s;
    box-shadow: 0 0 10px  white;
    gap: 20px;
    text-shadow: 0 2px 5px red;
    background-image: url(photo\ 1.jpeg);
    background-size: auto;
   
}
.img1:hover,.img2:hover,.img3:hover,.img4:hover{
    margin-top: 5px;
    box-shadow: 0 0 10px 10px  rgb(124, 7, 95);

}
.img2{
    height: 200px;
    width: 190px;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    position: relative;
    transition: 1s;
    box-shadow: 0 0 10px  white;
    gap: 20px;
    text-shadow: 0 2px 5px red;
    background-image: url(photo\ 2.jpg);
    background-size: auto;
}
.img3{
    height: 200px;
    width: 190px;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    position: relative;
    transition: 1s;
    box-shadow: 0 0 10px  white;
    gap: 20px;
    text-shadow: 0 2px 5px red;
    background-image: url(photo\ 3.jpeg);
    background-size:auto;
}
.img4{
    height: 200px;
    width: 190px;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
    position: relative;
    transition: 1s;
    box-shadow: 0 0 10px  white;
    gap: 20px;
    text-shadow: 0 2px 5px red;
    background-image: url(photo\ 4.jpg);
    background-size: contain;
}
button{
    color: black;
    border: none;
    background-color: white;
    border-radius: 20px;
    height: 35px;
    width: 160px;  
    font-weight: bold;
    font-size: small;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 15px;
    transition: 1s;
}
button:hover{
    box-shadow: 0  0 20px rgb(189, 25, 115);
}